@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom scrollbar */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e9e9eb;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d4d4d8;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a1a1aa;
  border-radius: 5px;
}
